/* a,
a:link {
    text-decoration: none
} */


ul.errorlist {
    list-style-type: none;
    color: blue;
    font-weight: bold;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.jumbotron {
    padding: 20px;
    margin: 10px;
}