{% extends "base_generic.html" %} {% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="text-info">提示信息</span></h3>
  </div>
  <div class="panel-body">
    <p class="text-primary">
      我们已通过电子邮件发送给您有关设置密码的说明。如果几分钟后还没到达，请检查您的垃圾邮件文件夹。
    </p>
    <p class="text-primary">
      We've emailed you instructions for setting your password. If they haven't
      arrived in a few minutes, check your spam folder.
    </p>
  </div>
</div>

{% endblock %}
