{% extends "base_generic.html" %} {% block content %} {% if validlink %}
<div class="alert alert-success" role="alert">
  已通过身份验证,请设置新密码。
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">请输入（并确认）您的新密码。</h3>
  </div>
  <div class="panel-body">
    <form action="" method="post">
      <div style="display:none">
        <input
          type="hidden"
          value="{{ csrf_token }}"
          name="csrfmiddlewaretoken"
        />
      </div>

      {{ form.new_password1.errors }}
      <label for="id_new_password1">新密码:</label>{{ form.new_password1 }}
      {{form.new_password2.errors }}
      <label for="id_new_password2">确认密码:</label>{{ form.new_password2 }}
      <input
        type="submit"
        class="btn btn-primary"
        style="margin-top: 10px;"
        value="确认提交"
      />
    </form>
  </div>
</div>

{% else %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">密码重置失败</h3>
  </div>
  <div class="panel-body">
    <p>
      密码重置链接无效，可能是因为该链接已被使用。请重新发送设置密码请求.
    </p>
  </div>
  {% endif %} {% endblock %}
</div>
