{% extends "base_generic.html" %} {% load i18n static %} {% block content %}
<div class="jumbotron">
  <h1><span class="text-success">操作完成</span></h1>
  <div class="alert alert-success" role="alert">
    {% trans 'Your password was changed.' %}
  </div>

        <div class="alert alert-info" role="alert">建议主动完善完善个人资料,完善<strong><span class="text-warning">个人邮箱</span></strong>可以帮助你在<strong><span class="text-danger">忘记密码</span></stong>时进行<strong><span class="text-success">重置密码</span></strong>操作。</div>

</div>

{% endblock %}
