{% extends "base_generic.html" %} {% block content %}
<div class="panel panel-default">
  <div class="panel-body bg-warning text-primary">
    重置密码请输入正确的邮箱地址
  </div>
</div>
<form action="" method="post">
  {% csrf_token %} {% if form.email.errors %}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">警告</h3>
    </div>
    <div class="panel-body">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      {{ form.email.errors }}
    </div>
  </div>
  {%endif%}
  <p>{{form.email}}</p>
  <input type="submit" class="btn btn-primary btn-lg" value="提交" />
</form>
{% endblock %}
