<!DOCTYPE html>
<html lang="zh-hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {% block title %}
    <title>图书管理系统</title>
    {% endblock %}
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <link
    rel="stylesheet"
    href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}" />
    <script src="{%static 'catalog/js/generic.js'%}"></script>
    <script src="{%static 'catalog/js/javascript.js'%}"></script>
    <link rel="icon" href="{%static 'catalog/image/fav.ico'%}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
          <ul class="nav nav-pills nav-stacked sidebar-nav sidebar-top">
            <li role="presentation" class="{% if request.path == '/catalog/' %}active{% endif %}">
              <a href="{% url 'catalog:index' %}"><span class="glyphicon glyphicon-home"></span> 主页</a>
            </li>
            <li role="presentation" class="li1 {% if request.path == '/catalog/books/' or request.path|truncatechars:15 == '/catalog/books/' or genres%}active{% endif %}">
              <a href="{% url 'catalog:books' %}"><span class="glyphicon glyphicon-book"></span> 所有图书</a>
            </li>
           
            <li role="presentation" class="li2 {% if request.path == '/catalog/authors/' or request.path|truncatechars:17 == '/catalog/authors/' %}active{% endif %}">
              <a href="{% url 'catalog:authors' %}"><span class="glyphicon glyphicon-user"></span> 所有作者</a>
            </li>
            
          </ul>

          {% endblock %}
          {% block userinterface %}
          <hr>
          <ul class="nav nav-pills nav-stacked sidebar-nav">
              {% if user.is_authenticated %}
              <li role="presentation">
                
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                              <span class="glyphicon glyphicon-user"></span> 用户<a href="{% url 'catalog:user_profile' user.pk%}" style="margin-left:10px;"><span class="label label-success"><span class="glyphicon glyphicon-file"></span> 个人资料</span></a></h3>
                        </div>
                        <style>
a:hover {
    text-decoration: none;
}
a,a:link,a:visited {
    text-decoration: none;
}
                        </style>
                        <div class="panel-body text-success">
                          
                            {{ user.get_username }}
                            <a href="{% url 'catalog:password_change'%}" ><span class="label label-warning"><span class="glyphicon glyphicon-pencil text-warning"></span> 修改密码</span></a>
                        </div>
                      </div>
              
              </li>
              <li role="presentation" class="{% if request.path == '/catalog/mybooks/' or request.path|truncatechars:19 == '/catalog/mybooks/s/' or his %}active{% endif %}"><a href="{% url 'catalog:my-borrowed' %}"><span class="glyphicon glyphicon-book"></span> 借阅的图书</a></li>
              {%if user.email%}
              <li role="presentation" class="{% if request.path == '/catalog/my_appointment/' or request.path|truncatechars:26 == '/catalog/my_appointment/s/' %}active{% endif %}"><a href="{% url 'catalog:my-appointment' %}"><span class="glyphicon glyphicon-shopping-cart"></span> 预约的图书</a></li>
              {%endif%}
              <li role="presentation" class="bg-danger" ><a href="{% url 'logout'%}?next={{request.path}}"><span class="text-danger"><span class="glyphicon glyphicon-log-out"></span> 退出登录</span></a></li>   
            {% else %}
              <li role="presentation" class="bg-info login"><a href="{% url 'login'%}?next={{request.path}}"><span class="text-primary"><span class="glyphicon glyphicon-log-in"></span> 账号登录</span></a></li>   
            {% endif %}
          </ul>

          <hr>
          <ul class="nav nav-pills nav-stacked sidebar-nav">
              {% if user.is_authenticated %}
              <li role="presentation">
                  <div class="panel panel-primary {% if not perms.catalog.can_mark_returned %}hidden{% endif %}">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          <span class="glyphicon glyphicon-queen"></span> 管理人员</h3>
                      </div>
                    </div>
              
              </li>
              {% endif %}

              {% if perms.catalog.can_mark_returned %}
              <li role="presentation" class="{% if request.path == '/catalog/borrowed/' or request.path|truncatechars:20 == '/catalog/borrowed/s/'%}active{% endif %}"><a href="{% url 'catalog:all-borrowed' %}"><span class="glyphicon glyphicon-book"></span> 所有被借阅的图书</a></li>
              {%endif%}
           
              {%if perms.catalog.can_mark_returned %}
              <li role="presentation" class="{% if request.path == '/catalog/appointment/' or request.path|truncatechars:23 == '/catalog/appointment/s/' %}active{% endif %}"><a href="{% url 'catalog:all-appointment'%}"><span class="glyphicon glyphicon-shopping-cart"></span> 所有被预约的图书</a></li>
              {% endif %}
          </ul>
          {% if user.is_authenticated and perms.catalog.can_mark_returned and user.is_staff %}
          <hr>
          <ul class="nav nav-pills nav-stacked sidebar-nav">
              <li role="presentation">
                  <div class="panel panel-primary {% if not perms.catalog.can_mark_returned %}hidden{% endif %}">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                          <span class="glyphicon glyphicon-king"></span> 超级用户</h3>
                      </div>
                    </div>
              
                  </li>
                  
                  <li role="presentation" class="{% if request.path == '/admin/' %}active{% endif %}"><a href="/admin/">系统管理员的快乐小屋</a></li>
                  
                </ul>
                {% endif %}
        </div>
        {% endblock %}
        <div class="col-sm-10">
{%if request.get_full_path|slice:"-3:" == "m=1" %}
<div class="alert alert-success" role="alert"><strong>完成续借操作</strong></div>
{%endif%}
          {% block content %}{% endblock %}
          <!--  -->
          {% block pagination %} {% if is_paginated %}
          <div class="pagination row">
            <div class="col-sm-12" style="margin-bottom:10px;">
            <span class="page-links">
              {% if page_obj.has_previous %}
              <a
                href="{{ request.path }}?page={{ page_obj.previous_page_number }}"
                ><span class="label label-primary">上一页</span></a
              >
              {% endif %}
              <span class="badge text-danger"
                  >Page{{ page_obj.number }}
                  /{{ page_obj.paginator.num_pages }}</span
                >
              </span>
              {% if page_obj.has_next %}
              <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"
                ><span class="label label-primary">下一页</span></a
              >
              {% endif %}
            </span>
          </div>
          <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                  <div class="row">
                      <div class="col-sm-8" style="padding-right:0;margin-left: 15px;">
                <input type="number" id="paginator" min="1"  max="{{ page_obj.paginator.num_pages }}"
                name="page" class="form-control" placeholder="页数跳转。">
              </div>
             
              <div class="col-sm-2" style="padding-left: 15px;">
              <button type="submit" class="btn btn-default pagination1"><span class="glyphicon glyphicon-search"></span>Go!</button>
              </div>
              <input type="hidden" name="pages"  class="pages" value="{{page_obj.paginator.num_pages}}">
              </div>
            </div>
            </form>
          </div>
        </div>
          {% endif %} {% endblock %}
        </div>
      </div>
      {%block footer%}

            <div class="footer">
    

                        <p style="
                        
                          display: block;
                          margin-left: auto;
                          margin-right: auto;
                          text-align: center;
          
                        ">
                        <strong>zz-want2sleep</strong>用于湖南省长沙市望城区中南林业科技大学涉外学院毕业设计<br/>
                          这是一个基于<a href="https://www.djangoproject.com"><strong >Django</strong></a>框架实现的图书管理系统（主要应用范围为学校图书馆、个人藏书室以及书店等中小型单位。）<br/>
                          <strong>2019.12.06 </strong>做出页脚。</p>
  


                  </div>
        {% endblock %}
        <script>
          
           function t1(){
            var e = $(".footer");
            var h = e.offset().top + e.height() ;
            // console.log(e.offset().top)
            // console.log( $(window).height())
            
            //判断页脚div底部到页面顶端的实际距离是否小于页面可见区域高度
          
            if(h < $(window).height()){
              $(".footer").css({"position":"absolute","bottom":"0","width":"100%"});
            }else{
              $(".footer").removeAttr("style");
              // $(".footer").css({"position":"","bottom":""})
          }
        }  
        $(window).resize(t1);
        t1()

            </script>
  </body>
</html>
