<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="icon" href="{%static 'catalog/image/fav.ico'%}" />
    <title>删除作者</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="panel panel-primary">
      <div class="panel-body">
        <h1><span class="text-primary">删除作者页面</span></h1>
      </div>
    </div>


<div class="jumbotron">
<h3><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span>删除作者</span></h3>
 
    <div class="alert alert-danger" role="alert">
    <span>您确定要删除作者？
    <ul class="list-group">
        <li class="list-group-item"></span><span class="glyphicon glyphicon-user"></span> {{author}}</li>
 
      </ul>
    </div>
    
    <p> <form action="" method="POST">
        {% csrf_token %}
        <input class="btn btn-danger btn-lg btn-block" type="submit" action="" value="确认删除" />
      </form></p>
  </div>
</body>
</html>

