<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static %}
    <link rel="icon" href="{%static 'catalog/image/fav.ico'%}" />
    <title>正在返回</title>
  </head>
  <body>
    <script>
      (function() {
        var name = "{{ genre }}";
        var id = "{{id}}";
        window.opener.g1_receive_func(name, id);
        window.close();
      })();
    </script>
  </body>
</html>
