{% extends "base_generic.html" %} {% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">添加作者</h3>
  </div>
  <div class="panel-body">
    <form action="" method="post">
      {% csrf_token %}
<div class="table-responsive ">
      <table class="table table-bordered table-striped">
        {{ form.as_table }}
      </table>
      <input type="submit" value="提交" class="btn btn-primary btn-lg btn-block createauthor" />
    </form>
  </div>
</div>
</div>
<style>
  .errorlist {
    background-color: pink;
  }
  .helptext {
    color:blue;
    font-weight: bold;
  }
</style>
{% endblock %}
