{% extends "base_generic.html" %}
{% block content %}

{%if request.get_full_path|slice:"-3:" == "a=2" %}
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  成功创建作者
</div>
{%endif%}

{%if request.get_full_path|slice:"-3:" == "d=2" %}
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  成功删除作者
</div>
{%endif%}
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <h1 style="display: inline-block;"><span class="label label-primary">作者列表</span></h1>
      {% if user.is_authenticated and perms.catalog.can_mark_returned%}
       <a class="btn btn-primary" style="margin-left: 20px;" href="{%url 'catalog:author_create' %}"><span class="glyphicon glyphicon-plus"></span> <span style="color: white; font-weight: bold; text-decoration: none;">添加作者</span></a>
      {% endif %}
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-6 -->
  <form class="col-lg-6">
    <div class="input-group">
      <input
        name="authorFilter"
        type="text"
        class="form-control authorFilter"
        placeholder="Search for..."
      />
      <span class="input-group-btn">
        <button class="btn btn-default authorFilter" type="button"><span class="glyphicon glyphicon-search"></span>Go!</button>
      </span>
    </div>
    <!-- /input-group -->
  <form>
  <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
{% if author_list %}
<ul class="list-group">
  {% for author in author_list %}
  <li class="list-group-item"><span class="glyphicon glyphicon-user"></span>
    <a href="{{ author.get_absolute_url }}">{{ author }}</a> &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>
    ({% if author.date_of_birth %}{{author.date_of_birth}}{%endif%}<span> - </span>{% if author.date_of_death %}
    {{author.date_of_death}} {% endif %})
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Warning!</strong> 图书平台里面还没有作者.
</div>
{% endif %} {% endblock %}
