{% extends "base_generic.html" %} {% block content %}
<div class="row">

        <div class="col-lg-6">
           
          <div class="input-group">
            <h1  style="display: inline-block;"><span class="label label-primary">所有被预约的图书</span></h1>
          </div>
          <!-- /input-group -->
        </div>
        
        <!-- /.col-lg-6 -->
        <form class="col-lg-6">
          <div class="input-group">
            <input
              name="allAppointmentFilter"
              type="text"
              class="form-control allAppointmentFilter"
              placeholder="Search for..."
            />
            <span class="input-group-btn">
              <button class="btn btn-default allAppointmentFilter" type="button"><span class="glyphicon glyphicon-search"></span>Go!</button>
            </span>
          </div>
          <!-- /input-group -->
        <form>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
{% if bookinstance_list %}
<ul class="list-group">
  {% for bookinst in bookinstance_list %}
  <li class=" list-group-item {% if bookinst.is_overdue %}text-danger  list-group-item-danger{% endif %}">
        <div class="alert alert-info" role="alert">
    <a href="{% url 'catalog:book-detail' bookinst.book.pk %}"
      ><span class="glyphicon glyphicon-book"></span> {{bookinst.book.title}}</a
    >
    &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> 预约日期：({{ bookinst.appointment_time }})
    {% if user.is_staff %} - <strong><span class="text-danger">{{ bookinst.appointment }}</span></strong> {% endif %}

    {% if perms.catalog.can_mark_returned %}
  
      <a href="{%url 'catalog:rent_out' id=bookinst.id pk=bookinst.book.pk %}" class="text-muted" style=" float: right; "><span class="label label-primary"><span class="
        glyphicon glyphicon-star-empty"></span> 租借</span></a>
        {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Warning!</strong>没有预约记录！
</div>
{% endif %} 
<script>
        $(function(){
            $("button.allAppointmentFilter").on("click", function(e) {
    // console.log(11111111);
    // console.log(1);
    if (
      !$("input.form-control.allAppointmentFilter")
        .val()
        .trim()
    ) {
      $(location).attr("href", window.location.pathname);
    } else {
      if (window.location.pathname.lastIndexOf("/") != 22) {
        $(location).attr(
          "href",
          window.location.pathname +
            "s/" +
            $("input.form-control.allAppointmentFilter")
              .val()
              .trim()
        );
      } else {
        $(location).attr(
          "href",
          window.location.pathname.substring(0, 23) +
            $("input.form-control.allAppointmentFilter")
              .val()
              .trim()
        );
      }
    }
  });
        })
      
      </script>
{% endblock %}
