{% extends "base_generic.html" %} {% block content %} {% load i18n %}
<style>
  .errorlist {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #ba2121;
    border: 1px solid #ba2121;
    border-radius: 4px;
    background-color: #fff;
    background-position: 5px 12px;
  }

  form .aligned div.help {
    margin-left: -40px;
    padding-left: 0;
  }
  form .aligned ul li {
    list-style: none;
  }
  .submit-row {
    margin-top: 20px;
  }
  .help li {
    font-size: 11px;
    color: #999;
  }
  .form-row {
    overflow: hidden;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
  }
</style>
<div class="jumbotron">
  <h1>
    <span class="label label-warning"
      ><span class="glyphicon glyphicon-pencil"></span> 修改密码</span
    >
  </h1>

  <div class="alert alert-info" role="alert" style="margin-top: 20px;">
    <strong
      >为了安全起见，请输入旧密码，然后输入两次新密码，以便我们验证您是否正确输入了密码。</strong
    >
  </div>

  <div id="content-main">
    <form method="post">
      {% csrf_token %}
      <div>
        {% if form.errors %}
        <p class="errornote">
          {% if form.errors.items|length == 1 %}
          <span> {% blocktrans%} 请更正以下错误。 {%endblocktrans%} </span>
          {%else %}
          <span> {% blocktrans%} 请更正以下错误。 {%endblocktrans%}</span>
          {%endif %}
        </p>
        {% endif %}

        <fieldset class="module aligned wide">
          <div class="form-row">
            {{ form.old_password.errors }} {{ form.old_password.label_tag }}
            {{form.old_password }}
          </div>

          <div class="form-row">
            {{ form.new_password1.errors }} {{ form.new_password1.label_tag }}
            {{form.new_password1 }}{% if form.new_password1.help_text %}
            <div class="help">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
          </div>

          <div class="form-row">
            {{ form.new_password2.errors }} {{ form.new_password2.label_tag }}
            {{form.new_password2 }} {% if form.new_password2.help_text %}
            <div class="help">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
          </div>
        </fieldset>

        <div class="submit-row">
          <input
            type="submit"
            value="修改密码"
            class="btn btn-primary btn-lg btn-block"
          />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
